<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="repeatsApp">
    <head>
        <title>Lists, Tables, and Other Repeated Elements</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href="../../lib/css/bootstrap.css" />
        <link rel='stylesheet' type="text/css" href='css/chapter02.css'/>
        <script type="text/javascript" src="../../lib/js/angular.js"></script>
        <script type='text/javascript' src="js/repeats.js"></script>
    </head>
    <body>
        <h4>List of Students</h4>
        <div ng-controller="StudentListController">
        <ul>
            <li ng-repeat="student in students">
                <a href="/student/view/{{student.id}}">{{student.name}}</a>
            </li>
        </ul>
        <button ng-click="insertTom()">Insert</button>
        </div>
        
        <h4>Albums</h4>
        <table ng-controller="AlbumController">
            <tr ng-class="{firstRow: $first, lastRow: $last}" ng-repeat="track in album">
                <td>{{$index + 1}}</td>
                <td>{{track.name}}</td>
                <td>{{track.duration}}</td>
            </tr>
        </table>
        
        <h4>Death Ray Control</h4>
        <div ng-controller="DeathrayMenuController">
            <button ng-click='toggleMenu()'>Toggle Menu</button>
            <ul class='deathRayMenu' ng-show='menuState.show'>
                <li class="menu-disabled-{{isDisabled}}" ng-click='stun()'>Stun</li>
                <li ng-click='disintegrate()'>Disintegrate</li>
                <li ng-click='erase()'>Erase from history</li>
            </ul>
            <div>Action executed: {{actionResult}}</div>
        </div>

        <h4>Errors and Warnings simulator</h4>
        <div ng-controller="HeaderController">
            <div ng-class="{error: isError, warning: isWarning}">{{messageText}}</div><br/>
            <button ng-click="showError()">Simulate Error</button>
            <button ng-click="showWarning()">Simulate Warning</button>
            <button ng-click="reset()">Reset</button>
        </div>
        
        <h4>Restaurant Directory</h4>
        <table ng-controller="RestaurantTableController">
            <tr ng-repeat="restaurant in directory" ng-click="selectRestaurant($index)"
                ng-class="{selected: $index==selectedRow}">
                <td>{{restaurant.name}}</td>
                <td>{{restaurant.cuisine}}</td>
            </tr>
        </table>
    </body>
</html>
