<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="repeatsApp">
    <head>
        <title>Lists, Tables, and Other Repeated Elements</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href="../../lib/css/bootstrap.css" />
        <link rel='stylesheet' type="text/css" href='css/chapter02.css'/>
        <script type="text/javascript" src="../../lib/js/angular.js"></script>
        <script type='text/javascript' src="js/repeats.js"></script>
    </head>
    <body>
        <h4>List of Students</h4>
        <div ng-controller="StudentListController">
        <ul>
            <li ng-repeat="student in students">
                <a href="/student/view/{{student.id}}">{{student.name}}</a>
            </li>
        </ul>
        <button ng-click="insertTom()">Insert</button>
        </div>
    </body>
</html>
