<!DOCTYPE html>
<html ng-app="shoppingApp">
    <head>
        <title>Shopping App</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href="../../lib/css/bootstrap.css" />
        <link rel='stylesheet' type="text/css" href='css/chapter02.css'/>
        <script type="text/javascript" src="../../lib/js/angular.js"></script>
        <script type='text/javascript' src="js/shopping.js"></script>
    </head>
    <body>
        <h4>Shopping</h4>
        <table ng-controller="CartController">
            <tr ng-repeat="item in items">
                <td>{{item.title}}</td>
                <td><input ng-model="item.quantity"></td>
                <td>{{item.price | currency}}</td>
                <td>{{item.price * item.quantity | currency}}</td>
            </tr>
            <tr><td>Total:</td><td colspan="3">{{bill.totalCart | currency}}</td></tr>
            <tr><td>Discount:</td><td colspan="3">{{bill.discount | currency}}</td></tr>
            <tr><td>Subtotal:</td><td colspan="3">{{bill.subtotal | currency}}</td></tr>
        </table>
    </body>
</html>
